<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mackerBuilder"
         name="Macker Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.his.core.tools.cs.sys.quality.eclipsemacker.builder.MackerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="mackerNature"
         name="Macker Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.his.core.tools.cs.sys.quality.eclipsemacker.builder.MackerNature">
         </run>
      </runtime>
      <builder
            id="de.his.core.tools.cs.sys.quality.eclipsemacker.mackerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="de.his.core.tools.cs.sys.quality.eclipsemacker.contribution1">
         <action
               label="Add/Remove Macker Nature"
               class="de.his.core.tools.cs.sys.quality.eclipsemacker.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="de.his.core.tools.cs.sys.quality.eclipsemacker.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="mackerEvent"
         name="Macker Event"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.his.core.tools.cs.sys.quality.eclipsemacker.view.MackerView"
               minimized="false"
               relationship="stack">
         </view>
         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.his.core.tools.cs.sys.quality.eclipsemacker.view.MackerView"
            id="de.his.core.tools.cs.sys.quality.eclipsemacker.view.MackerView"
            name="Macker View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.his.core.tools.cs.sys.quality.eclipsemacker.gui.Property"
            id="de.his.core.tools.cs.sys.quality.eclipsemacker.page2"
            name="Macker"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.his.core.tools.cs.sys.quality.eclipsemacker.preferences.MackerPreferencePage"
            id="de.his.core.tools.cs.sys.quality.eclipsemacker.preferences.MackerPreferencePage"
            name="Macker Preferences">
      </page>
   </extension>
   <extension
         id="mackerPreferences"
         name="Macker Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.his.core.tools.cs.sys.quality.eclipsemacker.preferences.MackerGlobalPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
